.body{
      background-color: black;
      color:#c17007;
      margin: 0;
      padding: 1;
}
.i1{
    float:left;
    width:100%;
    height:100%;
}

.p1{
    margin-top: 3%;
    text-align: justify;
    
}
.d1{
    height: 100%;
}
.row{
    background-color: black;
}
.d1:hover{
    background-color:#f6d4a7;
}
.btn{
    background-color: #c17007;
    margin-left:40%;
}
.btn:hover{
    background-image: linear-gradient(#c17007,white);
    transform:scale(1.2);
}