@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

:root {
    --main-color: #c17007;
    --black: #13131a;
    --bg: #010103;
    --border: .1rem solid rgba(255, 255, 255, .3)
}

* {
    margin: 0px;
    padding: 0px;
    font-family: "roboto", sans-serif;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    text-decoration: none;
}


body {
    background: var(--bg);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    width: .8rem;
}

html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    color: #fff;
    background: var(--main-color);
    font-size: 1.5rem;
    text-transform:capitalize;
}

.btm:hover{
    background-image: linear-gradient(#c17007,white);
    transform: scale(1.1);

}

.header {
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header .logo img {
    height: 8rem;
}

.header .navbar a {
    margin: 0 1rem;
    font-size: 1.6rem;
    color: #fff;
}

.header .navbar a:hover {
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);

}

.header .icons div {
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
    
}


.header .icons div:hover {
    color: var(--main-color);
}

#menu-btn {
    display: none;
}

.header .search-form {
    position: absolute;
    top: 115%;
    right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.header .search-form.active {
    transform: scaleY(1);
}

.header .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
}

.header .search-form label {
    cursor: pointer;
    font-size: 2.3rem;
    margin-right: 1.5rem;
    color: var(--black);
}

.header .search-form label:hover {
    color: var(--main-color);
}


.header .cart-items-container {
    position: absolute;
    top: 100%;
    right: -100%;
    height: calc(100vh-9.5rem);
    width: 35rem;
    background: #fff;
    padding: 0 1.5rem;
}

.header .cart-items-container.active {
    right: 0;
}

.header .cart-items-container .cart-item {
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.header .cart-items-container .cart-item .fa-times {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
}

.header .cart-items-container .cart-item .fa-times:hover {
    color: var(--main-color);
}

.header .cart-items-container .cart-item img {
    height: 9rem;
}

.header .cart-items-container .cart-item .content h3 {
    font-size: 2rem;
    color: var(--black);
    padding-bottom: 1rem;
}

.header .cart-items-container .cart-item .content .price {
    font-size: 2rem;
    color: var(--main-color);
}

header .cart-items-container .btn {
    width: 100%;
    text-align: center;
    margin-bottom:0.5rem;
}

.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(b6.jpg)no-repeat;
    background-size: cover;
    background-position: center;
}

section {
    padding: 1rem;
}

.home .content{
    max-width: width 60rem;
}

.home .content h2{
    font-size: 7rem;
    text-transform:uppercase;
    color: #fff;
}

.home .content p{
    font-size: 1.5rem;
    text-transform:uppercase;
    color:#fff;
    font-weight: 900;
}

.heading{
    margin-left: 44%;
    font-size: 6.5rem;
    justify-content: center;
}

.contact .row{
    display: flex;
    align-items: center;
    background: var(--black);
    gap:1rem;
}

.contact .row .map{
    flex:1 1 45rem;
    width:100%;
    object-fit: cover;

}

.contact .row form{
    flex:1 1 45rem;
    padding:5rem 2rem;
    text-align: center;
}

.contact .row form .inputbox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: var(--bg);
    border: var(--border);
    box-shadow: #c17007;
}

.contact .row form .inputbox:hover{
    border: 0.2rem solid var(--main-color);
}

.contact .row form .inputbox span{
    color: #fff;
    font-size:2.2rem;
    padding-left:2rem;
}

.contact .row form .inputbox input{
    width:100%;
    padding: 2rem;
    font-size: 2rem;
    color:#fff;
    text-transform: none;
    background: none;
}

.about{
    background: var(--black);
    text-align: center;
}

.about .share{
    padding:1rem;
    gap:2rem;

}

.about .share a{
    height:5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2.2rem;
    color: #fff;
    border: var(--border);
    margin:.2rem;
    border-radius:50%;
}

.about .share a:hover{
    background-color:#c17007;
    transform:scale(1.2);
}

.about .container .row{
    font-size: 2rem;
    justify-content: center;
    margin-top:.7rem;
}

.about .container .row a{
    color: #fff;
}

.about .credit{
    font-size: 2rem;
    color: #fff;
    padding: 1.5rem;

}

.about .credit span{
    color: var(--main-color);
}


@media (max-width:991px) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 1.5rem 2rem;
    }

    section {
        padding: 3rem;
    }

}

@media (max-width:768px) {
    #menu-btn {
        display: inline-block;
    }

    .header .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        background: #fff;
        width: 30rem;
    }

    .header .navbar.active {
        right: 0;
    }

    .header .navbar a {
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }

    .home{
       background-position: left;
       justify-content: center;
    }
}

@media (max-width:445px) {
    html {
        font-size: 50%;
    }

}